@use "./resets";
@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

.footer {
  padding: 0 1.6rem 1.6rem 1.6rem;
  background-color: $brand-primary-1;
  color: white;

  @include tablet {
    padding: 0 3.6rem 1.6rem 3.6rem;
  }
}

.social {
  align-items: center;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include tablet {
      margin-right: 3.6rem;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
  &__icons {
    width: 12rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      width: 16.2rem;
      height: 3rem;
      margin: 4.8rem 0 3.6rem 0;
      justify-content: space-between;
    }
  }

  // &__image {
  //   @include tablet {
  //     height: 1rem;
  //   }
}

.contact {
  @include tablet {
    display: flex;
  }
  &__details {
    margin: 2.4rem 0;
    @include copy-mobile;

    @include tablet {
      margin-right: 4rem;
    }
  }

  &__copy {
    text-decoration: none;
    color: white;

    &--bold {
      font-weight: 600;
    }
  }

  &__wrapper {
    margin: 1.6rem 0;
  }
}

.logo__top {
  visibility: hidden;

  @include tablet {
    visibility: visible;
  }
}

.logo__bottom {
  margin: 3.2rem 0 1.6rem 0;

  @include tablet {
    visibility: hidden;
  }
}

.copyright {
  font-size: 1rem;
}
