@use "./resets";
@use "./mixins" as *;
@use "./variables" as *;
@use "./typography";
@use "./animations";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $desktop-max-width;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    height: 10rem;
  }

  @include desktop {
    margin: 0 auto;
  }

  &__link {
    padding: $standard-spacing-mobile 0;
  }

  &__logo {
    max-width: 12rem;
    max-height: 2rem;
    margin-top: 1rem;

    @include tablet {
      margin: 0 $standard-spacing-desktop;
    }
  }
}

.nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include tablet {
    width: 25rem;
    height: 100%;
  }

  &__list {
    list-style: none;
    width: 100%;

    @include tablet {
      justify-content: space-around;
      height: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: $brand-secondary-2;
    padding-bottom: 2rem;

    @include tablet {
      padding-bottom: 0;
    }
  }

  &__item {
    padding: 0.8rem 3.6rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 4px solid $brand-primary-1;
    transition: border-color 1s;

    @include tablet {
      width: auto;
      padding: 0;
    }

    &--active {
      font-weight: bold;
      color: white;
      border-color: white;
      font-weight: 600;

      &:hover {
        font-weight: normal;
      }
    }

    &:hover {
      border-color: white;
    }
  }
}
