@use "./resets";
@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

.header {
  background-color: $brand-primary-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    height: 10rem;
  }

  &__link {
    padding: 1.6rem 0 1.6rem 0;
  }

  &__logo {
    max-width: 12rem;
    max-height: 2rem;
    // margin: 2.4rem 0 1.6rem 0;

    @include tablet {
      margin: 2.4rem 3.2rem;
    }
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include tablet {
    width: 35rem;
    height: 100%;
  }

  &__list {
    display: flex;
    list-style: none;
    width: 100%;

    @include tablet {
      justify-content: space-around;
      height: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: $brand-secondary-2;

    @include tablet {
      @include subheader-desktop;
    }
  }

  &__item {
    padding: 0.8rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      width: auto;
      padding: 0;
    }

    &--active {
      font-weight: bold;
      color: white;
      border-bottom: 2px solid white;
      font-weight: bold;
    }
  }
}
