@use "./typography";
@use "./variables" as *;

@mixin header-mobile {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

@mixin mobile {
  @media screen and (max-width: $mobile-max-width) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin button {
  background-color: $brand-primary-1;
  border-radius: 4px;
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: background-color 1s;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  border: none;

  &:hover {
    background-color: $brand-secondary-1;
  }
}
