@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"),
    url("../../assets/font/alternative-files/AvenirNextLTProBold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("opentype"),
    url("../../assets/font/alternative-files/AvenirNextLTProDemi.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"),
    url("../../assets/font/alternative-files/AvenirNextLTPro.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
