$brand-primary-1: #323232;
$brand-primary-2: #afafaf;
$brand-primary-3: #ffffff;
$brand-secondary-1: #000000;
$brand-secondary-2: #e1e1e1;
$brand-secondary-3: #fafafa;

$mobile-max-width: 767px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1279px;
$desktop-max-width: 1020px;

$heading-top-mobile: 2.4rem;
$standard-spacing-mobile: 1.6rem;

$heading-top-desktop: 4.8rem;
$standard-spacing-desktop: 3.6rem;
$gutters-desktop: 2.4rem;
