@use "../resets";
@use "../typography";
@use "../variables" as *;
@use "../mixins" as *;

.footer {
  background-color: $brand-primary-1;

  & section {
    @include tablet {
      display: flex;
    }
  }

  &__container {
    padding: 0 $standard-spacing-mobile $standard-spacing-mobile
      $standard-spacing-mobile;
    color: white;
    background-color: $brand-primary-1;

    @include tablet {
      padding: $heading-top-desktop $standard-spacing-desktop 0
        $standard-spacing-desktop;
    }

    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
    }
  }
}

.social {
  align-items: center;

  @include tablet {
    justify-content: space-between;
    margin-bottom: $standard-spacing-desktop;
  }

  &__title {
    @include tablet {
      width: 33%;
      padding: 0;
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }
  &__icons {
    width: 12rem;
    display: flex;
    justify-content: space-between;

    @include tablet {
      height: 3rem;
      justify-content: flex-start;
      width: 33%;
    }
  }

  &__img {
    @include tablet {
      margin-right: $gutters-desktop;
    }
  }
}

.contact {
  @include tablet {
    justify-content: space-between;
  }
  &__details {
    margin: 2.4rem 0;

    @include tablet {
      width: 33%;
      margin-top: 0;
    }
  }

  &__copy {
    text-decoration: none;
    color: white;

    &--bold {
      font-weight: 600;
    }

    @include tablet {
      line-height: 2rem;
    }
  }

  &__wrapper {
    margin: $standard-spacing-mobile 0;
  }
}

.logo {
  @include tablet {
    display: flex;
    width: 33%;
    justify-content: flex-end;
  }

  &__top {
    display: none;

    @include tablet {
      display: inline;
      height: 2rem;
    }
  }

  &__bottom {
    margin: 3.6rem 0 $standard-spacing-mobile 0;
    display: inline;

    @include tablet {
      display: none;
    }
  }
}

.copyright {
  font-size: 1rem;

  @include tablet {
    padding: $gutters-desktop 0 $standard-spacing-desktop 0;
    font-size: 1.4rem;
  }
}
