@use "./partials/resets";
@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/header";
@use "./partials/footer";

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;

  @include tablet {
    height: 55vh;
  }

  @include desktop {
    height: 90vh;
  }

  &__wrapper {
    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba($brand-primary-1, 0.5);
  }
}

.about {
  @include desktop {
    width: $desktop-max-width;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 0 $standard-spacing-mobile;

    @include tablet {
      padding: 0 8rem;
    }
  }

  &__title {
    @include tablet {
      padding-left: 0;
    }
  }

  &__img {
    width: 100%;
    padding-bottom: $standard-spacing-mobile;

    @include tablet {
      padding-bottom: $heading-top-mobile;
    }
  }

  &__quote {
    @include subheader-mobile;
    font-weight: 600;

    @include tablet {
      font-size: 2.3rem;
      font-weight: 600;
      color: $brand-primary-1;
      line-height: 3rem;
    }

    &--size {
      @include tablet {
        font-size: 1.7rem;
        margin: $standard-spacing-mobile 0 $heading-top-desktop 0;
      }
    }
  }

  &__subtitle {
    margin: $heading-top-mobile 0 $standard-spacing-mobile 0;

    @include tablet {
      @include header-mobile;
    }
  }

  &__copy {
    @include tablet {
      display: flex;
      line-height: 2rem;
    }
  }

  &__text {
    margin-bottom: $standard-spacing-mobile;
    @include tablet {
      margin-bottom: $standard-spacing-desktop;
      line-height: 2.2rem;
    }
    &--left {
      @include tablet {
        margin-right: $gutters-desktop;
      }
    }
  }
}

.gallery {
  background-color: $brand-secondary-3;
  padding: 0 $standard-spacing-mobile 0.8rem $standard-spacing-mobile;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0;
  }

  @include desktop {
    width: $desktop-max-width;
    margin: 0 auto;
  }

  &__container {
    background-color: $brand-secondary-3;
  }

  &__images {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding: 0 $gutters-desktop $gutters-desktop $gutters-desktop;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    padding: 0.8rem 0;
    filter: grayscale(1);
    transition: filter 2s;

    &:hover {
      filter: none;
    }

    @include tablet {
      width: 33%;
      padding: 1.2rem 1.2rem;
    }
  }

  &__title {
    padding-bottom: 0.8rem;

    @include tablet {
      padding-bottom: $gutters-desktop;
    }
  }
}

.comments {
  padding: 0 1.6rem;

  @include tablet {
    padding: 0 8rem;
  }

  @include desktop {
    max-width: 50%;
    margin: 0 auto;
    padding: 0;
  }
}

.conversation {
  // display: flex;
  width: 100%;
  // border-bottom: 1px solid $brand-secondary-2;
  padding-bottom: $standard-spacing-mobile;

  @include tablet {
    padding-bottom: 3.6rem;
  }

  @include desktop {
    width: $desktop-max-width;
    margin: 0 auto;
  }

  &__wrapper {
    display: flex;
    border-bottom: 1px solid $brand-secondary-2;
    margin: 0 1.6rem;

    @include tablet {
      margin: 0 8rem;
    }
    @include desktop {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__title {
    margin-left: 1.6rem;

    @include tablet {
      // margin-bottom: $standard-spacing-desktop;
      margin-left: 0;
    }
  }

  &__icon {
    max-width: 8rem;
    max-height: 8rem;
    padding: 1.6rem 1rem 0 0;
  }

  &__photo {
    margin-top: 0.8rem;
    width: 4.8rem;
    height: 4.8rem;
    background-image: url("../assets/images/Mohan-muruge.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
}

.comment {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $brand-secondary-2;
  padding: $standard-spacing-mobile 0;

  @include tablet {
    padding: 2.4rem 0;
  }

  &__img {
    height: 4.8rem;
    width: 4.8rem;
    background-color: $brand-secondary-2;
    border-radius: 50%;
    margin-right: 1.6rem;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.8rem;
  }

  &__name {
    font-weight: 600;
  }

  &__date {
    color: $brand-primary-2;
  }

  &__text {
    @include tablet {
      line-height: 2.4rem;
    }
  }

  &__wrapper {
    width: 100%;
  }
}

.form {
  padding-bottom: 1.6rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-bottom: 2.4rem;
  }

  &__container {
    width: 100%;
  }

  &__label {
    text-transform: uppercase;
    color: $brand-primary-2;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.4rem;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__input {
    all: unset;
    margin-bottom: 1.6rem;
    border: 1px solid $brand-secondary-2;
    border-radius: 4px;
    background-color: $brand-secondary-3;
    padding: 1.2rem;

    &:focus {
      border: 1px solid $brand-primary-1;
    }

    &::placeholder {
      color: $brand-primary-1;
    }
    &--error {
      border-color: #d22d2d;
    }

    @include tablet {
      margin-bottom: 2.4rem;
      padding: 1.6rem;
    }

    &--height {
      @include tablet {
        height: 8rem;
      }
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__button {
    background-color: $brand-primary-1;
    color: white;
    border: none;
    padding: 0 3.2rem;
    height: 4rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    transition: background-color 1s;
    font-size: 1.5rem;

    &:hover {
      background-color: $brand-secondary-1;
    }

    @include tablet {
      width: 15rem;
    }
  }
}
