@use "./partials/resets";
@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/layout/header";
@use "./partials/layout/hero";
@use "./partials/components/form";
@use "./partials/layout/conversation";
@use "./partials/layout/footer";

.hero {
  &--styling {
    background-image: url("../assets/images/hero-bio.jpg");
    height: 25rem;

    @include tablet {
      height: 70vh;
    }

    @include desktop {
      height: 90vh;
    }
  }

  &__title {
    margin-left: $standard-spacing-mobile;

    @include tablet {
      margin-left: $standard-spacing-desktop;
    }

    @include desktop {
      margin-left: 0;
    }
  }
}

.about {
  @include desktop {
    width: $desktop-max-width;
    margin: 0 auto;
  }

  &__wrapper {
    padding: 0 $standard-spacing-mobile;

    @include tablet {
      padding: 0 8rem;
    }
  }

  &__title {
    padding-left: $standard-spacing-mobile;
    @include tablet {
      padding-left: 3.6rem;
    }

    @include desktop {
      width: $desktop-max-width;
    }
  }

  &__img {
    width: 100%;
    padding-bottom: $standard-spacing-mobile;

    @include tablet {
      padding-bottom: $heading-top-mobile;
    }
  }

  &__quote {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;

    @include tablet {
      font-size: 2.3rem;
      font-weight: 600;
      color: $brand-primary-1;
      line-height: 3rem;
    }

    &--size {
      @include tablet {
        font-size: 1.7rem;
        margin: $standard-spacing-mobile 0 $heading-top-desktop 0;
      }
    }
  }

  &__subtitle {
    margin: $heading-top-mobile 0 $standard-spacing-mobile 0;

    @include tablet {
      @include header-mobile;
    }
  }

  &__copy {
    @include tablet {
      display: flex;
      line-height: 2rem;
    }
  }

  &__text {
    margin-bottom: $standard-spacing-mobile;
    @include tablet {
      margin-bottom: $standard-spacing-desktop;
      line-height: 2.2rem;
    }
    &--left {
      @include tablet {
        margin-right: $gutters-desktop;
      }
    }
  }
}

.gallery {
  background-color: $brand-secondary-3;
  padding: 0 $standard-spacing-mobile 0.8rem $standard-spacing-mobile;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 0;
  }

  @include desktop {
    width: $desktop-max-width;
    margin: 0 auto;
  }

  &__container {
    background-color: $brand-secondary-3;
  }

  &__images {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      padding: 0 $gutters-desktop $gutters-desktop $gutters-desktop;
      flex-wrap: wrap;
    }
  }
  &__img {
    width: 100%;
    padding: 0.8rem 0;
    filter: grayscale(1);
    transition: filter 2s;

    &:hover {
      filter: none;
    }

    @include tablet {
      width: 33%;
      padding: 1.2rem 1.2rem;
    }
  }

  &__title {
    padding-bottom: 0.8rem;

    @include tablet {
      padding-bottom: $gutters-desktop;
    }
  }
}
