@use "./partials/resets";
@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/header";
@use "./partials/footer";

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    height: 90vh;
    background-position: 0% 55%;
  }

  @include desktop {
    height: 100vh;
    background-position: 0% 30%;
  }

  &__wrapper {
    width: 100%;

    @include tablet {
      // width: $desktop-max-width;
      margin-top: 2.4rem;
    }
    @include desktop {
      width: 50%;
      // width: $desktop-max-width;
      // margin: 0 auto;
    }
  }

  &__container {
    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
      display: flex;
      align-items: flex-end;
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: rgba($brand-primary-1, 0.5);

    @include tablet {
      height: inherit;
    }
  }

  &__iframe {
    position: relative;
    width: 100%;
    padding: 0 $standard-spacing-mobile;
    margin-bottom: 3.6rem;

    @include tablet {
      width: 60%;
      padding: 0 $standard-spacing-desktop;
    }

    @include desktop {
      width: 50%;
      margin-bottom: 0;
    }
  }

  &__copy {
    position: relative;
    margin-left: 1.6rem;
    font-size: 2rem;
    font-weight: normal;
    // padding-bottom: 2.4rem;
    // padding-top: 4.8rem;

    @include tablet {
      margin-left: 0;
      font-size: 2.4rem;
      font-weight: 600;
      padding-bottom: 0;
      padding-top: 0;
    }

    @include desktop {
      margin-bottom: 1.6rem;
    }
  }

  &__title {
    font-size: 3.5rem;
    line-height: 5rem;
    padding-bottom: 2.4rem;
    width: 75%;

    @include tablet {
      font-size: 6rem;
      line-height: 6.8rem;
      padding-bottom: 4.8rem;
    }

    @include desktop {
      width: auto;
      padding-bottom: 1.6rem;
    }
  }
}

.shows {
  padding-bottom: 1.6rem;

  @include tablet {
    padding-bottom: 3.6rem;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
  }

  &__headings {
    display: none;
    width: 100%;

    @include tablet {
      display: flex;
      padding: 0 1.6rem 0.8rem 1.6rem;
    }
  }

  &__heading {
    width: 34%;
    text-transform: uppercase;
    color: $brand-primary-2;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__details {
    @include tablet {
      margin: 0 1.6rem;
    }
    @include desktop {
      width: 100%;
      padding-top: 4.8rem;
    }
  }

  &__container {
    @include desktop {
      width: $desktop-max-width;
      margin: 0 auto;
    }
  }

  &__title {
    margin-left: 1.6rem;

    @include tablet {
      padding-left: 1.6rem;
    }
  }
}

.show {
  border-bottom: 1px solid $brand-secondary-2;
  padding: 0 $standard-spacing-mobile;

  &:hover {
    background-color: $brand-secondary-3;
  }

  &--active {
    background-color: $brand-secondary-2;

    &:hover {
      background-color: $brand-secondary-2;
    }
  }

  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    width: 100%;
  }

  &__label {
    text-transform: uppercase;
    font-size: 1rem;
    color: $brand-primary-2;
    font-weight: 600;
    padding: 1.6rem 0 0.8rem 0;

    @include tablet {
      display: none;
    }
  }

  &__info {
    @include tablet {
      width: 25%;
    }

    &--bold {
      font-weight: 600;
    }
  }

  &__button {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    // background-color: $brand-primary-1;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    border-radius: 4px;
    height: 4rem;
    align-items: center;
    margin: 2.4rem 0 1.6rem 0;

    @include tablet {
      margin: 0;
      width: 25%;
      justify-content: flex-end;
    }
  }

  &__link {
    background-color: $brand-primary-1;
    border-radius: 4px;
    height: 4rem;
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 1rem;
    width: 100%;
    @include tablet {
      width: auto;
      padding: 0 3.2rem;
    }
  }
}
