@font-face {
  font-family: "AvenirNext";
  src: url("../assets/font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../assets/font/alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../assets/font/alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../assets/font/alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvenirNext";
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1 {
  position: relative;
  margin-left: 1.6rem;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
    font-weight: bold;
    font-weight: 600;
    margin-left: 3.6rem;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  padding: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: bold;
    padding: 4.8rem 0 3.6rem 3.6rem;
    font-weight: 600;
  }
}

p,
.footer a {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
@media screen and (min-width: 768px) {
  p,
.footer a {
    font-size: 1.4rem;
  }
}

.nav,
.nav__list,
.nav__item {
  display: flex;
  width: 100;
}

@media screen and (min-width: 768px) {
  .footer section {
    display: flex;
  }
}

.header,
.footer,
.footer__container,
.header__wrapper {
  background-color: #323232;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.nav__link:hover {
  animation: slide-down 2s;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    height: 10rem;
  }
}
@media screen and (min-width: 1279px) {
  .header {
    margin: 0 auto;
  }
}
.header__link {
  padding: 1.6rem 0;
}
.header__logo {
  max-width: 12rem;
  max-height: 2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0 3.6rem;
  }
}

.nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 25rem;
    height: 100%;
  }
}
.nav__list {
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .nav__list {
    justify-content: space-around;
    height: 100%;
  }
}
.nav__link {
  text-decoration: none;
  color: #e1e1e1;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .nav__link {
    padding-bottom: 0;
  }
}
.nav__item {
  padding: 0.8rem 3.6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 4px solid #323232;
  transition: border-color 1s;
}
@media screen and (min-width: 768px) {
  .nav__item {
    width: auto;
    padding: 0;
  }
}
.nav__item--active {
  font-weight: bold;
  color: white;
  border-color: white;
  font-weight: 600;
}
.nav__item--active:hover {
  font-weight: normal;
}
.nav__item:hover {
  border-color: white;
}

.footer {
  padding: 0 1.6rem 1.6rem 1.6rem;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 4.8rem 3.6rem 0 3.6rem;
  }
}
@media screen and (min-width: 1279px) {
  .footer {
    width: 1020px;
    margin: 0 auto;
  }
}

.social {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .social {
    justify-content: space-between;
    margin-bottom: 3.6rem;
  }
}
@media screen and (min-width: 768px) {
  .social__title {
    width: 33%;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .social__wrapper {
    display: flex;
    align-items: center;
  }
}
.social__icons {
  width: 12rem;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .social__icons {
    height: 3rem;
    justify-content: flex-start;
    width: 33%;
  }
}
@media screen and (min-width: 768px) {
  .social__img {
    margin-right: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    justify-content: space-between;
  }
}
.contact__details {
  margin: 2.4rem 0;
}
@media screen and (min-width: 768px) {
  .contact__details {
    width: 33%;
    margin-top: 0;
  }
}
.contact__copy {
  text-decoration: none;
  color: white;
}
.contact__copy--bold {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .contact__copy {
    line-height: 2rem;
  }
}
.contact__wrapper {
  margin: 1.6rem 0;
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    width: 33%;
    justify-content: flex-end;
  }
}
.logo__top {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo__top {
    display: inline;
    height: 2rem;
  }
}
.logo__bottom {
  margin: 3.6rem 0 1.6rem 0;
  display: inline;
}
@media screen and (min-width: 768px) {
  .logo__bottom {
    display: none;
  }
}

.copyright {
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .copyright {
    padding: 2.4rem 0 3.6rem 0;
    font-size: 1.4rem;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 55vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero {
    height: 90vh;
  }
}
@media screen and (min-width: 1279px) {
  .hero__wrapper {
    width: 1020px;
    margin: 0 auto;
  }
}
.hero__overlay {
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(50, 50, 50, 0.5);
}

.shows {
  padding: 0 1.6rem;
}
@media screen and (min-width: 1279px) {
  .shows {
    display: flex;
    justify-content: space-between;
  }
}
.shows__headings {
  display: none;
  width: 75%;
}
@media screen and (min-width: 768px) {
  .shows__headings {
    display: flex;
    padding: 1.6rem;
  }
}
.shows__heading {
  width: 34%;
  text-transform: uppercase;
  color: #afafaf;
  font-size: 1.3rem;
  font-weight: 600;
}
@media screen and (min-width: 1279px) {
  .shows__details {
    width: 100%;
    padding-top: 4.8rem;
  }
}
@media screen and (min-width: 1279px) {
  .shows__container {
    width: 1020px;
    margin: 0 auto;
  }
}

.show {
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 768px) {
  .show {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    width: 100%;
  }
}
.show__label {
  text-transform: uppercase;
  font-size: 1rem;
  color: #afafaf;
  font-weight: 600;
  margin: 1.6rem 0 0.8rem 0;
}
@media screen and (min-width: 768px) {
  .show__label {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .show__info {
    width: 25%;
  }
}
.show__info--bold {
  font-weight: 600;
}
.show__button {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  height: 4rem;
  align-items: center;
  margin: 2.4rem 0 1.6rem 0;
}
@media screen and (min-width: 768px) {
  .show__button {
    margin: 0;
    width: 25%;
  }
}
.show__link {
  background-color: #323232;
  border-radius: 4px;
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .show__link {
    width: auto;
    padding: 0 3.2rem;
  }
}/*# sourceMappingURL=shows.css.map */